<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Data</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  
</head>
<body>
    <div class="w-full h-full bg-zinc-800 p-10 text-white">
        <a class="text-blue-500" href="/">Back</a>
        <h1 class=" text-3xl tracking-tighter mb-3 mt-10">All users Data</h1>
        <div class="users flex gap-3 flex-wrap">
        
          <% if(users.length > 0){   %> 
<!-- If no users are there then-->


            <% users.forEach(function(user) {  %>

                <div class="user w-70 p-5 bg-zinc-700 rounded-lg">
                    <div class="w-full h-52 rounded-lg bg-zinc-500 overflow-hidden" >
                        <img class="w-full h-full object-cover object-center" src="<%= user.image %>" alt="og">
                    </div>
                    <h3 class="text-xl mt-3 tracking-tighter" ><%= user.name %></h3>
                    <h4 class="text-zinc-400 text-xl " ><%= user.internp %></h4>
                    <h4 class="text-zinc-500" ><%= user.phone %></h4>
                    <div class="flex-gap-3 mt-10">
                        <a class="text-yellow-600 text-xl" href="/edit/<%= user._id%>">Edit Info</a>
                        <a class="text-red-500 text-xl" href="/delete/<%= user._id%>">Delete Info</a>
                    </div>               
                </div>
    
                    <% }); %>  
           <%      }  else {   %>
                    <h3 class="text-zinc-500"> No Interns Data Yet! </h3>

                    <%   }   %>


            
        
                       
        </div>
    </div>
    
</body>
</html>


<!--

     <div class="user w-70 p-5 bg-zinc-700 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-500" ></div>
                <h3 class="text-xl mt-3 tracking-tighter" >Om Gadekar</h3>
                <h4 class="text-zinc-300 text-xl " >DBA</h4>
                <h4 class="text-zinc-500" >9766625347</h4>
                <div class="flex-gap-3 mt-10">
                    <a class="text-yellow-600 text-xl" href="">Edit Info</a>
                    <a class="text-red-500 text-xl" href="">Delete Info</a>
                </div>               
            </div>

-->